// Tiré de la palette suivante :
// https://colorkit.co/palette/cdb4db-ffc8dd-faaac7-bee2ff-a2d2ff/
$blue-dark: rgb(162, 210, 255);
$blue-light: rgb(190, 226, 255);
$pink-dark: rgb(250, 170, 199);
$pink-light: rgb(255, 200, 221);
$purple: rgb(205, 180, 219);