/* You can add global styles to this file, and also import other style files */
@use 'reset';

body {
  background: #EEAECA;
  background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(224, 184, 96, 1) 100%);
}

html, body, app-root {
  height: 100%;
  width: 100%;

  app-root {
    display: inline-block;
  }
}